<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="IsinOlsun-Android-Test-Suite" parallel="tests" thread-count="2">

    <test name="emulator-5554">
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="aplikasi" value="ALT.apk"/>
        <parameter name="port" value="4723"/>
        <classes>
            <class name="tests.candidate.CandidateCanSeeJobsDetails"/>
        </classes>
    </test>

    <test name="emulator-5556">
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="platformVersion" value="10"/>
        <parameter name="aplikasi" value="ALT.apk"/>
        <parameter name="port" value="4000"/>
        <classes>
            <class name="tests.candidate.CandidateCanSeeJobsDetails"/>
        </classes>
    </test>

</suite>